<div class="row row-cols-1 row-cols-md-2 g-4">
  <div *ngFor="let car of cars" class="col">
    <div class="card">
      <img
        [src]="getImage(car)"
        class="card-img-top"
        height="250"
        width="250"
        alt="..."
      />
      <div class="card-body">
        <div class="card-header">{{ car.brandName }} {{ car.carName }}
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Model Yılı: {{ car.modelYear }}</li>
        <li class="list-group-item">Günlük Ücreti: {{ car.dailyPrice | currency}}</li>
        <li class="list-group-item">
          <button
            routerLink="cars/detail/{{ car.carId }}"
            class="btn btn-primary"
            >Detaya Git</button
          >
        </li>
      </ul>
    </div>
  </div>
</div>


